name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.9-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # Ensure nose and flake8 are installed along with other dependencies
          pip install -r requirements.txt
          pip install flake8 nose nose-selecttests coverage
          
      - name: Lint with flake8
        run: |
          # First check for errors (E9, F63, F7, F82)
          flake8 service --count --select=E9,F63,F7,F82 --show-source --statistics
          # Second check for code complexity and line length
          flake8 service --count --max-complexity=10 --max-line-length=127 --statistics

      - name: Run unit tests with nose
        run: nosetests -v --with-spec --spec-color --with-coverage --cover-package=app